.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5%;
}

.itell-title {
    font-size: 1.1rem;
    margin: 2rem 0;
}

.itell-tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 1rem;

    .tab {
        padding: 6px 10px;
        color: $primary;
        text-decoration: none;

        &:hover,
        &.active {
            color: $gray-16;
            background-color: $primary;
        }
    }
}

.itell-table {
    width: 100%;
    color: $gray-2;
    background-color: $gray-15;
    padding: 20px;
    margin-bottom: 1rem;

    table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;

        tr {

            th,
            td {
                padding: 14px 14px 14px 0;
                border-bottom: 2px solid $gray-14;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                text-align: left;

                &.action {
                    display: flex;
                    gap: 10px;
                }
            }
        }
    }
}

.itell-pager {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 1rem;

    .number {
        padding: 6px 0;
        width: 36px;
        text-align: center;
        background-color: $gray-15;
        color: #333;
        font-size: 12px;

        &:hover,
        &.active {
            color: $gray-16;
            background-color: $primary;
        }
    }
}

.itell-btn {
    background-color: $primary;
    border: none;
    cursor: pointer;
    display: inline-block;
    padding: 0 12px;
    height: 32px;
    color: $gray-16;
    vertical-align: middle;
}

.itell-option {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    .itell-label {
        margin-bottom: 6px;
        font-weight: bold;
    }

    .itell-input {
        display: inline-block;
        padding: 0 12px;
        height: 32px;
        color: $gray-5;
        vertical-align: middle;
        outline: none;
        border: 1px solid $gray-12;

        &:focus {
            border-color: $primary;
        }
    }

    .itell-description {
        margin-top: 6px;
        color: $gray-8;
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
}
