@font-face {
    font-family: 'Material Symbols Rounded';
    font-style: normal;
    font-weight: 400;
    src: url(/admin/css/fonts/1.woff2) format('woff2');
}

.material-symbols-rounded {
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.itell-title {
    font-size: 1.1rem;
    margin: 2rem 0;
}

.itell-tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 1rem;

    .tab {
        padding: 6px 10px;
        color: #000;
        text-decoration: none;

        &:hover,
        &.active {
            color: #fff;
            background-color: #000;
        }
    }
}

.itell-table {
    width: 100%;
    color: #fff;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 1rem;

    table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;

        tr {

            th,
            td {
                padding: 14px 14px 14px 0;
                border-bottom: 2px solid #fff;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                text-align: left;

                &.action {
                    display: flex;
                    gap: 10px;
                }
            }
        }
    }
}

.itell-pager {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 1rem;

    .number {
        padding: 6px 0;
        width: 36px;
        text-align: center;
        background-color: #fff;
        color: #333;
        font-size: 12px;

        &:hover,
        &.active {
            color: #fff;
            background-color: #000;
        }
    }
}

.itell-btn {
    background-color: #000;
    border: none;
    cursor: pointer;
    display: inline-block;
    padding: 0 12px;
    height: 32px;
    color: #fff;
    vertical-align: middle;
}

.itell-option {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    .itell-label {
        margin-bottom: 8px;
        font-weight: bold;
    }

    .itell-input {
        display: inline-block;
        padding: 0 12px;
        height: 32px;
        color: #fff;
        vertical-align: middle;
        outline: none;
        border: 1px solid #fff;

        &:focus {
            border-color: #000;
        }
    }

    .itell-description {
        margin-top: 8px;
        color: #fff;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}
