.theme {
    .active {
        background-color: $gray-14;
    }

    td {
        vertical-align: top;
    }

    .preview {
        max-height: 130px;
    }

    .theme-name {
        margin: 0;
    }

    .theme-info {
        display: flex;
        gap: 1rem;
        margin: 0.6rem 0;
        color: $gray-8;
    }

    .theme-description {
        margin: 0 0 0.6rem 0;
        font-size: 12px;
        white-space: pre-wrap;
        color: $gray-8;
    }
}
