.itell-admin-header-wrap {
    display: flex;
    background-color: $primary;
    gap: 1rem;
    align-items: center;
    padding: 0 5%;

    .header-item-logo {
        margin: 0;

        a {
            display: block;
            color: $gray-16;
            text-decoration: none;

            &:hover {
                color: $gray-15;
            }
        }
    }

    .header-item-menu {
        flex: auto;
        display: flex;
        position: relative;

        .item {
            .item-link {
                display: block;
                padding: 0.8rem 1rem;
                color: $gray-16;
                text-decoration: none;
            }

            &:hover {
                .item-link {
                    color: $gray-15;
                }

                .item-submenu {
                    display: block;
                }
            }

            &.active {
                .item-link {
                    font-weight: bold;
                    color: $gray-16;
                }
            }

            .item-submenu {
                display: none;
                position: absolute;
                background-color: $primary;
                min-width: 150px;

                .subitem {
                    .subitem-link {
                        display: block;
                        padding: 10px 16px;
                        position: relative;
                        color: $gray-16;
                        text-decoration: none;
                    }

                    &:hover {
                        .subitem-link {
                            color: $gray-15;
                        }
                    }

                    &.active {
                        .subitem-link {
                            font-weight: bold;
                            color: $gray-16;
                        }
                    }
                }
            }
        }
    }

    .header-item-user {
        display: flex;
        align-items: center;
        gap: 10px;

        .user-item {
            color: $gray-16;
            text-decoration: none;
        }

        .username {
            font-weight: bold;
        }
    }
}
