@media (min-width: 1200px) {
    .theme {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1200px) {
    .theme {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1000px) {
    .theme {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 800px) {
    .theme {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 600px) {
    .theme {
        grid-template-columns: repeat(1, 1fr);
    }

    .itell-navbar {
        .area {
            .menu-toggle {
                display: flex;
            }
        }
    }

    .itell-menu-wrap {
        position: absolute;
        display: none;
        z-index: 10000;

        &.collapse {
            display: block;
        }
    }
}
