.itell-navbar {
    width: 100%;
    min-width: max-content;
    height: 36px;
    line-height: 36px;
    color: $gray-0;
    background-color: $gray-9;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .area {
        display: flex;
        align-items: center;

        .action {
            display: flex;
            align-items: center;
            font-size: 12px;
            color: $gray-0;
            text-decoration: none;
            white-space: nowrap;
            padding: 0 10px;

            .avatar {
                height: 20px;
                width: 20px;
                background-color: $gray-0;
                margin-right: 6px;
            }

            &:hover {
                background-color: $gray-8;
            }
        }

        .logo {
            height: 20px;
            width: 20px;
            background-color: $gray-0;
            margin-right: 6px;
        }

        .title {
            font-size: 14px;
            white-space: nowrap;
        }

        .username {
            white-space: nowrap;
        }
    }

}
