$primary: #467b96 !default;
$primary-active: #57a6e0 !default;
$secondary: #3f484d !default;
$success: #467b96 !default;
$info: #467b96 !default;
$warning: #467b96 !default;
$danger: #467b96 !default;
$gray-1: #000 !default;
$gray-2: #111 !default;
$gray-3: #222 !default;
$gray-4: #333 !default;
$gray-5: #444 !default;
$gray-6: #555 !default;
$gray-7: #666 !default;
$gray-8: #777 !default;
$gray-9: #888 !default;
$gray-10: #999 !default;
$gray-11: #aaa !default;
$gray-12: #bbb !default;
$gray-13: #ccc !default;
$gray-14: #ddd !default;
$gray-15: #eee !default;
$gray-16: #fff !default;
