$gray-0: #f9f9f9 !default;
$gray-1: #e6e8ea !default;
$gray-2: #c6cacd !default;
$gray-3: #a8abb0 !default;
$gray-4: #898d92 !default;
$gray-5: #6c7075 !default;
$gray-6: #565b61 !default;
$gray-7: #42464c !default;
$gray-8: #2f3238 !default;
$gray-9: #1c1f23 !default;

$teal-0: #e6f7f4 !default;
$teal-1: #c6f0e8 !default;
$teal-2: #94e0d3 !default;
$teal-3: #6bcfbf !default;
$teal-4: #4dc1af !default;
$teal-5: #3db2a0 !default;
$teal-6: #329589 !default;
$teal-7: #26776f !default;
$teal-8: #1a5955 !default;
$teal-9: #0f3c3a !default;

$blue-0: #ebf5ff !default;
$blue-1: #cfe7fe !default;
$blue-2: #a0cdfe !default;
$blue-3: #73b2fd !default;
$blue-4: #4b95fd !default;
$blue-5: #3077fc !default;
$blue-6: #2762d8 !default;
$blue-7: #1e4fb4 !default;
$blue-8: #163d90 !default;
$blue-9: #0e2c6c !default;
